In [1]:
25*4

100

In [2]:
1/2

0.5

In [3]:
a = [[1,2],[3,4],[0,8]]
for i,j in a:
    print(i)

1
3
0

In [4]:
for i in enumerate(a):
    print(i)

(0, [1, 2])
(1, [3, 4])
(2, [0, 8])

In [15]:
b = [1,2,3]
c = zip(a,b)
c = list(c)
c

[([1, 2], 1), ([3, 4], 2), ([0, 8], 3)]

In [7]:
for item in zip(a,b):
    print(item)

([1, 2], 1)
([3, 4], 2)
([0, 8], 3)

In [16]:
from random import randint

In [32]:
randint(0,100)

12

In [41]:
st = 'Print only the words that start with s in this sentence'

st = st.split()

words = [word for word in st if word[0]=='s']
for i in words:
    print(f'Words beginning with s: {i}')

Words beginning with s: start
Words beginning with s: s
Words beginning with s: sentence

In [43]:
for i in range(0,11):
    if i % 2==0:
        print(i)

0
2
4
6
8
10

In [46]:
divide = [number for number in range(1,51) if number%3==0]
divide

SyntaxError: invalid syntax (<ipython-input-46-0d8f4dcd7f23>, line 1)

In [47]:
st

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [51]:
for i in st:
    if len(i)%2==0:
        print(f'The length of the word "{i}" is even!')

The length of the word "only" is even!
The length of the word "that" is even!
The length of the word "with" is even!
The length of the word "in" is even!
The length of the word "this" is even!
The length of the word "sentence" is even!

In [54]:
for i in range(1,101):
    if i%3==0 and i%5!=0:
        print('Fizz')
    elif i%5==0 and i%3!=0:
        print('Buzz')
    elif i%3==0 and i%5==0:
        print('FizzBuzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [55]:
letter = [ltr[0] for ltr in st]
letter

['P', 'o', 't', 'w', 't', 's', 'w', 's', 'i', 't', 's']

In [56]:
22 % 3

1

In [57]:
22 % 3 ==0

False

In [34]:
def myfunc(*args):
    m = list(args[0])
    l = []
    for i in range(len(m)):
        print(i)
        if i % 2 == 0:
            m[i] = m[i].upper()
            l.append(m[i])
            print(l)
        else:
            m[i] = m[i].lower()
            l.append(m[i])
            print(l)
    l = ''.join(l)
            
    return l

In [35]:
x = myfunc('Hey how you doing')
x

0
['H']
1
['H', 'e']
2
['H', 'e', 'Y']
3
['H', 'e', 'Y', ' ']
4
['H', 'e', 'Y', ' ', 'H']
5
['H', 'e', 'Y', ' ', 'H', 'o']
6
['H', 'e', 'Y', ' ', 'H', 'o', 'W']
7
['H', 'e', 'Y', ' ', 'H', 'o', 'W', ' ']
8
['H', 'e', 'Y', ' ', 'H', 'o', 'W', ' ', 'Y']
9
['H', 'e', 'Y', ' ', 'H', 'o', 'W', ' ', 'Y', 'o']
10
['H', 'e', 'Y', ' ', 'H', 'o', 'W', ' ', 'Y', 'o', 'U']
11
['H', 'e', 'Y', ' ', 'H', 'o', 'W', ' ', 'Y', 'o', 'U', ' ']
12
['H', 'e', 'Y', ' ', 'H', 'o', 'W', ' ', 'Y', 'o', 'U', ' ', 'D']
13
['H', 'e', 'Y', ' ', 'H', 'o', 'W', ' ', 'Y', 'o', 'U', ' ', 'D', 'o']
14
['H', 'e', 'Y', ' ', 'H', 'o', 'W', ' ', 'Y', 'o', 'U', ' ', 'D', 'o', 'I']
15
['H', 'e', 'Y', ' ', 'H', 'o', 'W', ' ', 'Y', 'o', 'U', ' ', 'D', 'o', 'I', 'n']
16
['H', 'e', 'Y', ' ', 'H', 'o', 'W', ' ', 'Y', 'o', 'U', ' ', 'D', 'o', 'I', 'n', 'G']

'HeY HoW YoU DoInG'

In [3]:
x

[]

In [2]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)
    
lesser_of_two_evens(2,5)

5

In [4]:
def animal_crackers(text):
    text = text.split()
    if text[0][0] == text[1][0]:
        return True
    return False

animal_crackers('Crazy Kangaroo')

False

In [6]:
def other_side_of_seven(num):
    x = (7 - num)*2
    y = 7 + x
    return y

other_side_of_seven(12)

-3

In [15]:
def old_macdonald(name):
    lst = list(name)
    
    lst[0]=lst[0].upper()
    lst[3]=lst[3].upper()
    name= ''.join(lst)
    return name

old_macdonald('macdonald')

'MacDonald'

In [27]:
def master_yoda(text):
    text = text.split()
    text.reverse()
    return text

master_yoda('We are ready')

['ready', 'are', 'We']

In [32]:
def almost_there(n):
    if (n < 110 and n > 90) or (n < 210 and n > 190):
        return True
    return False
almost_there(209)

True

In [36]:
def laughter(pattern,text):
    #counter = [0] * len(text)
    counter = 0
    for i in range(len(text)):
        string = ''
        for j in range(i,len(text)):
            string += text[j]
            if string == pattern:
                counter+=1
                break
            
    return counter

laughter('hah','hahahah')

3

In [41]:
def blackjack(a,b,c):
    s = a + b + c
    if s <= 21:
        return s
    else:
        if a==11 or b==11 or c==11:
            s -= 10
            if s <= 21:
                return s
    return 'BUST'

blackjack(9,9,11)

19

In [44]:
def spy_game(nums):
    counter = [False] * 3
    index = 0
    for i in nums:
        if i == 0:
            counter[index]= True
            index+=1
        if i == 7:
            if counter[0] == False or counter[1] == False:
                return False
            else:
                return True
    return False

spy_game([1,7,2,0,4,5,0])

False

In [2]:
import math
def vol(rad):
    return (4/3)*math.pi*rad**3

vol(2)

33.510321638291124

In [3]:
def ran_check(num,low,high):
    return num <= high and num >=low
    
ran_check(3,1,10)

True

In [5]:
def up_low(s):
    countupper = 0
    countlower = 0
    for i in s:
        if i.isupper():
            countupper+=1
        elif i.islower():
            countlower+=1
        else:
            continue
    print(f'Originial String : {s}')
    print(f'No. of Upper case characters : {countupper}')
    print(f'No. of Lower case characters : {countlower}')
          
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Originial String : Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters : 4
No. of Lower case characters : 33

In [6]:
def unique_list(lst):
    unique = set(lst)
    return list(unique)

unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [9]:
def multiply(number):
    m = 1
    for i in number:
        m*=i
    return m

multiply([1,2,3,-4])

-24

In [33]:
def palindrome(s):
    s=s.replace(' ','')
    r = s[::-1]
    print(r)
    print(s)
    return r==s
palindrome('nurses run1')

1nursesrun
nursesrun1

False

In [ ]:
def ispangram(str):
    counter = [0]*26
    for i in